jobs:
  backend-tests:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - run:
          name: Run backend tests
          command: |
            cd api
            npm ci
            npm test

  frontend-tests:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - run:
          name: Run frontend tests
          command: |
            cd client
            npm ci
            npm test

workflows:
  build_and_test:
    jobs:
      - backend-tests
      - frontend-tests
