version: 2.1

orbs:
  node: circleci/node@5.2

workflows:
  build_and_test:
    jobs:
      - node/test:
          name: backend-tests
          version: '16.10'
          working-directory: backend
          pkg-manager: npm
      - node/test:
          name: frontend-tests
          version: '16.10'
          working-directory: frontend
          pkg-manager: npm
